<section class="pa">
  <div class="painting-details">
    <h3>{{project.name}}</h3>
    <p>Description: {{project.description}}</p>
    <p>Funding: {{ project.needed_funding }}</p>
  </div>
</section>